$purple: purple;
$pink: pink;
$white: white;
$dark: black;
$red: red;
$yellow: yellow;
$green: green;
$lightgray: lightgray;

$transition: all 250ms ease;

.shadowed {
  box-shadow: 0 .5rem 1rem rgb(0, 113, 227);
}